body {
    margin-top: 5%;
}

#todo-row {
    display: table;
}

#incomplete-todo, #completed-todo {
    color: black;
}

#completed-todo {
    text-decoration: line-through;
}


#update-button {
    background: white;
    color:steelblue;
}

#delete-button {
    background: white;
    color:red
}

.remember-me-checkbox {
    float: left;
    padding-bottom: 2%;
}

#project-members {
    display: flex;
    align-items: center;
}

.card-complete,.card-incomplete,.card-total{
    display:flex;
    align-items: center;
}

.card-incomplete{
    color: darkred;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.card-complete{
    color: darkgreen;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.card-total{
    color: dodgerblue;
    margin-left:auto;
    margin-right:auto;
}

#project-settings{
    background-color: white;
}
