body {
    margin-top: 5%;
}

#todo-row, #current-users-row {
    display: table;
}

#incomplete-todo, #completed-todo {
    color: black;
}

#completed-todo {
    text-decoration: line-through;
}

.update-todo-button {
    background: white;
    color: grey;
    margin-left: 1%;
    cursor: pointer;
}

.delete-todo-button {
    background: white;
    color: grey;
    margin-left: 1%;
}

.update-todo-button:hover {
    color: steelblue;
}

.delete-todo-button:hover {
    color: red;
}

.remember-me-checkbox {
    float: left;
    padding-bottom: 2%;
}

#project-members {
    display: flex;
    align-items: center;
}

.card-complete, .card-incomplete, .card-total {
    display: flex;
    align-items: center;
}

.card-incomplete {
    color: darkred;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-complete {
    color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-total {
    color: dodgerblue;
    margin-left: auto;
    margin-right: auto;
}

#project-settings {
    background-color: white;
}

.modal-form {
    width: 50%;
}

.modal-buttons {
    margin-top: 1%;
}

#remove-user-icon{
    color:red;
}

.low-priority{
    color: #54C300;
}

.medium-priority{
    color: orange;
}

.high-priority{
    color: #E70000;
}

