body{
    margin-top: 5%;
}

#todo-row{
    display: table;
}

#incomplete-todo, #completed-todo{
    color: black;
}

#completed-todo{
    text-decoration: line-through;

}

#update-button, #delete-button{
    background: white;
}
