{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="ui centered grid">
    <div class="row">
        <h1>Add user</h1>
    </div>

    <div class="row">
        <form id="add-user-input" class="ui action left icon input" action="/add_user/{{project_id}}" method="post">
                <input type="text" name="name" placeholder="Username/Email">
                <button class="ui teal button" type="submit">Add</button>
        </form>

    </div>
</div>
{% endblock %}