<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

</head>
<body>

<div class="ui centered grid">

    <!--<h1 style="margin-top: 1%" class="ui center aligned header"> Todo App </h1>-->
    <div class="row">
        <h1 style="margin-top: 1%">What do you want to do today?</h1>
    </div>

    <div class="row">
        <form action="/add" method="post">

            <div class="ui action left icon input">
                <input type="text" name="title" placeholder="Enter Todo...">
                <button class="ui teal button" type="submit">Add</button>
            </div>

        </form>
    </div>

    {% for todo in todo_list%}
    <div class="row" style="display: table">
        {% if todo.complete == False %}
        <a href="/update_status/{{ todo.id }}" style="color: black"> {{ todo.title }} </a>
        {% else %}
        <a href="/update_status/{{ todo.id }}" style="text-decoration: line-through; color: black"> {{ todo.title
            }} </a>
        {% endif %}

        <a href="/update/{{ todo.id }}" class="ui icon button" style="background: white">
            <i class="edit icon"></i>
        </a>

        <a href="/delete/{{ todo.id }}" class="ui icon button" style="background: white">
            <i class="trash alternate outline icon"></i>
        </a>

    </div>
    {% endfor %}

</div>

</body>
</html>