{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block body %}
<main class="ui centered grid">
    <header class="row">
        <h1>What do you want to do today?</h1>
    </header>

    <a href="{{url_for('logout')}}">logout</a>

        <div class="row">
        <form id="list-input" class="ui action left icon input" action="/add_project" method="post">
            <input type="text" name="name" placeholder="Add new project...">
            <button class="ui teal button" type="submit">Add</button>
        </form>
        </div>

    <div class="row">
        <h2> Your Projects: </h2>
    </div>
    {% for project in projects %}
    <div class="row">
    <a href="/project/{{ project.id }}"> {{ project.name }} </a>-->
        </div>
    {% endfor %}

</main>

{% endblock %}