{% extends 'base.html' %}

{% block head %}
    <input type="hidden" name="project_id" content="{{ project.id }}">
    <input type="hidden" name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block body %}
    <main class="ui centered grid">

        <div class="ui secondary pointing menu">
            <a class="item" href="{{ url_for('index') }}">
                Home
            </a>
            <a class="item" href="{{ url_for('profile') }}">
                Profile
            </a>
            <div class="right menu">
                <a class="ui item" href="{{ url_for('logout') }}">
                    Logout
                </a>
            </div>
        </div>

        <header class="row" id="project-header-row">
            <input type="hidden" name="project-id" value="{{ project.id }}">
            <h1>{{ project.name }}
                <div class="ui icon top left pointing dropdown button"
                     id="project-settings-dropdown">
                    <i class="bars icon"></i>
                    <div class="menu">
                        <div class="header">Manage project</div>
                        <a class="item update-project-button">
                            <i class="edit icon"></i> Edit </a>
                        <a class="item delete-project-button">
                            <i class="trash icon"></i> Delete</a>
                        <a class="item manage-users-button">
                            <i class="users icon"></i> Manage users</a>
                    </div>
                </div>
            </h1>
        </header>

        <div class="row">
            <form id="task-form" class="ui action input"
                  action="/add_task/{{ project.id }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input id="task-input" type="text" name="title"
                       placeholder="Enter Task..." maxlength="50">
                <div class="ui selection dropdown small" id="priority-dropdown">
                    <input type="hidden" name="priority">
                    <i class="dropdown icon"></i>
                    <div class="default text">Priority</div>
                    <div class="menu">
                        <div class="item" data-value="0">
                            <span> <i class="circle icon low-priority"></i>Low</span>
                        </div>
                        <div class="item" data-value="1">
                            <span> <i class="circle icon medium-priority"></i>Medium</span>
                        </div>
                        <div class="item" data-value="2">
                            <span><i class="circle icon high-priority"></i>High</span>
                        </div>
                    </div>
                </div>
                <button class="ui teal button" type="submit">Add</button>
            </form>
        </div>
        <div class="ui grid row" id="task-list">
            {% include 'task_list.html' %}
        </div>
    </main>

    <!-- Update project modal -->
    <div class="ui basic large modal top aligned" id="update-project-modal">
        <div class="ui icon header">
            <i class="edit icon"></i>
            Update project
        </div>

        <div class="ui centered grid">
            <form class="ui form modal-form" id="update-project-form"
                  action="/update_project/{{ project.id }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="name" value="{{ project.name }}">

                <div class="row modal-buttons">
                    <button class="ui green ok inverted submit button"
                            type="submit"><i class="checkmark icon"></i>Update
                    </button>

                    <button class="ui red basic cancel inverted button" type="button"
                            id="update-project-cancel">
                        <i class="remove icon"></i>Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Manage users modal -->
    <div class="ui basic large modal top aligned" id="manage-users-modal">
        <div class="ui icon header">
            <i class="users icon"></i>
            Manage Users
        </div>

        <div class="ui centered grid">
            <form class="ui form modal-form" id="add-users-form"
                  action="/add_user/{{ project.id }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="name" placeholder="Enter username/email">

                <div class="row modal-buttons">
                    <div class="ui error message">
                    </div>
                    <button class="ui green ok inverted submit button"
                            type="submit"><i class="checkmark icon"></i>Add
                    </button>

                    <button class="ui red basic cancel inverted button" id="manage-users-cancel" type="button">
                        <i class="remove icon"></i>Cancel
                    </button>
                </div>
            </form>
            <h3 class="row"> Current Users: </h3>
            {% for user in users %}
                <div class="row" id="current-users-row">
                    {{ user.username }}
                    <form class="remove-user-form" action="/remove_user/{{ project.id }}/{{ user.id }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="remove-user-button" type=submit>
                            <i class="minus circle icon" id="remove-user-icon"></i>
                        </button>
                    </form>

                </div>
            {% endfor %}

        </div>
    </div>

    <!-- Update task modal -->
    <div class="ui basic large modal top aligned" id="update-task-modal">
        <div class="ui icon header">
            <i class="user icon"></i>
            Update task
        </div>

        <div class="ui centered grid">
            <form class="ui form modal-form" id="update-task-form"
                  action="/update_task/{{ project.id }}/" method="post">

                <input id="update-task-input" type="text" name="title">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="row modal-buttons">
                    <button class="ui green ok inverted submit button"
                            type="submit"><i class="checkmark icon"></i>Update
                    </button>

                    <button class="ui red basic cancel inverted button" id="task-modal-cancel" type="button">
                        <i class="remove icon"></i>Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Confirm delete modal -->
    <div class="ui ui mini inverted top aligned modal" id="delete-project-modal">
        <div class="header">
            Delete project
        </div>
        <div class="content">
            <p>Are you sure you want to delete this project?</p>
        </div>
        <form class="ui form" id="delete-project-form"
              action="/delete_project/{{ project.id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="actions">
                <button class="ui right floated negative labeled icon button" type="button">
                    <i class="remove icon"></i>
                    No
                </button>
                <button class="ui positive right floated labeled icon button" type="submit">
                    <i class="checkmark icon"></i>
                    Yes
                </button>
            </div>
        </form>

    </div>
{% endblock %}
