{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block body %}
<main class="ui centered grid">
    <header class="row">
        <h1>{{project.name}}</h1>
    </header>

    <a href="/update_project/{{ project.id }}"
       class="ui icon button">
        <i class="edit icon"></i>
    </a>

    <a href="/delete_project/{{ project.id }}"
       class="ui icon button">
        <i class="trash alternate icon"></i>
    </a>

        <a href="/"
       class="ui icon button">
        <i class="share alternate icon"></i>
    </a>

    <div class="row">
        <form id="todo-input" class="ui action left icon input"
              action="/add_todo/{{project.id}}" method="post">

            <input type="text" name="title" placeholder="Enter Todo..."
                   maxlength="50">
            <button class="ui teal button" type="submit">Add</button>
        </form>
    </div>

    {% for todo in todo_list|sort(attribute='complete')%}
    <div class="row" id="todo-row">
        {% if todo.complete == False %}
        <a href="/update_todo_status/{{ project.id }}/{{ todo.id }}"
           id="incomplete-todo"> {{ todo.title }} </a>
        {% else %}
        <a href="/update_todo_status/{{ project.id }}/{{ todo.id }}"
           id="completed-todo"> {{ todo.title }} </a>
        {% endif %}

        <a href="/update_todo/{{ project.id }}/{{ todo.id }}"
           class="ui icon button" id="update-button">
            <i class="edit icon"></i>
        </a>

        <a href="/delete_todo/{{ project.id }}/{{ todo.id }}"
           class="ui icon button" id="delete-button">
            <i class="trash alternate outline icon"></i>
        </a>

    </div>
    {% endfor %}


</main>

{% endblock %}