{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="ui centered grid">
    <div class="row">
        <h1>Update task</h1>
    </div>

    <div class="row">
        <form action="/update/{{todo.id}}" method="post">

            <div class="ui action left icon input">
                <input type="text" name="title" value="{{todo.title}}">
                <button class="ui teal button" type="submit">Update</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}