{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="ui centered grid">
    <div class="row">
        <h1>Update project</h1>
    </div>

    <div class="row">
        <form id="update-project-input" class="ui action left icon input" action="/update_project/{{project.id}}" method="post">
                <input type="text" name="name" value="{{project.name}}">
                <button class="ui teal button" type="submit">Update</button>
        </form>
    </div>
    <a href="/project/{{project.id}}">Return to project</a>
</div>
{% endblock %}